
#calculator{
    margin-left: 25%;
    margin-right:25%;
    margin-top:1%;  
    border-style: ridge;
    border-radius:10px;
    width: auto;
    font-family: 'Cute Font', cursive;

}
#display{
    border-style: ridge;
    border-radius:5px; 
    width:auto;
    padding-bottom:5%; 
    background-color: black;
    color:white;
}
button{
    position: relative;
    margin-bottom:2%;
    margin-right: 4.1%;
    border-radius: 50px;
   width:20%;
   color: white;
   background-color:#223322; 
}
.equals{
    transform: scaleY(2.5);
    transform-origin: top;
}
.zero {
    width: 45%;
    
  }

  button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  button:hover {
    background-color: #6FC6FF;
  }
  .equals:active{
    transform: scaleY(2.5);
    transform-origin: top;
}
.input{
    margin-top:10%;
}
#calculator{
    background-color: silver;
}
.calc{
    background-color: rgba(226, 147, 0, 0.979);
}